version: "3"
services: 
    app:
        image: app:0.1.4
        env_file: 
            - production.env
        ports: 
            - "4999:4999"
        deploy:
            resources:
                limits:
                    cpus: '0.03'
                    memory: 400m
                reservations:
                    cpus: '0.01'
                    memory: 100m
    mongo:
        image: mongo
        volumes: 
            - ./data:/data/db
        ports: 
            - "27017:27017"
        deploy:
            resources:
                limits:
                    cpus: '0.05'
                    memory: 500m
                reservations:
                    cpus: '0.01'
                    memory: 100m