.container {
    background: rgba(27, 27, 39, 0.8);
    padding: 1rem;
    border: 2px solid rgba(27, 27, 39, 0.85);
    border-radius: 15px;
    width: fit-content;
    max-width: 80vw;
    transition: transform ease 1s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    position: relative;
    margin: 0rem 0 1rem;
    height: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5rem;
}

.header__bar {
    height: 1px;
    min-width: 50px;
    width: 100%;
    background-color: #7b7b7b;
}

@media screen and (max-width: 400px) {
    .header__bar {
        display: none;
    }
}

.header__text {
    display: inline-block;
    min-width: 225px;
    max-width: 85%;
    font-size: 16px;
    letter-spacing: 1px;
    text-align: center;
    color: rgba(255,255,255,0.43);
    margin: 0 0.6rem;
}

.playerCardsChange img {
    width: 90px;
    height: 90px;
}

.playerCardsChange p {
    color: #e3e1de;
    font-weight: 600;
    font-size: 1.3rem;
    text-align: center;
}

.cards {
    margin-top: 40px;
    display: flex;
}

.cards > *:first-child {
    margin-right: 1rem;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFF;
    color: var(--card-text-color);
    width: 150px;
    height: 150px;
    position: relative;
    box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 
                0px 2px 2px 0px rgba(0,0,0,0.14), 
                0px 1px 5px 0px rgba(0,0,0,0.12);
}

.card__input {
    outline: none;
    width: 100px;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-weight: 500;
    font-size: 0.9rem;
}

.card__people {
    border: 10px solid var(--card-player-color);
}

.card__object {
    border: 10px solid var(--card-object-color);
}

.card__header {
    position: absolute;
    top: 3px;
    box-sizing: border-box;
    padding: 0;
    padding-top: 2px;
}

.card__header p {
    min-width: fit-content;
    margin: 0 0.3rem;
    color: #7b7b7b;
    transform: translateY(-2px);
}

.card__header div {
    min-width: 10px;
}

.submit {
    margin-top: 20px;
}