
.container {
    background: rgba(27, 27, 39, 0.8);
    padding: 1rem;
    padding-top: 0.5rem;
    border: 2px solid rgba(27, 27, 39, 0.85);
    border-radius: 15px;
    width: 80vw;
    max-width: 70vw;
    transition: transform ease 1s;
    overflow: hidden;
    margin-top: 50px;
}